<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="${database.driver}"/>
        <property name="url" value="${database.url}"/>
        <property name="username" value="${database.username}"/>
        <property name="password" value="${database.password}"/>
        <property name="filters" value="config"/>
        <property name="testOnBorrow" value="false"/>
        <property name="removeAbandoned" value="true"/>
        <property name="removeAbandonedTimeout" value="1800"/>
        <property name="maxActive" value="1000"/>
        <!--<property name="maxIdle" value="30"/>-->
        <property name="maxWait" value="10000"/>
        <property name="defaultAutoCommit" value="true"/>
        <property name="logAbandoned" value="true"/>
        <property name="timeBetweenEvictionRunsMillis" value="10800000"/>
        <property name="validationQuery" value="select 1 from dual"/>
        <property name="connectionProperties" value="druid.stat.slowSqlMillis=5000;config.decrypt=${database.decrypt};config.decrypt.key=${database.publickey}"/>
    </bean>

    <!-- Hibernate 配置 -->
    <!--<import resource="classpath:spring/dao/spring-hibernate-dao.xml"/>-->
    <!-- mybatis 配置 -->
    <!--<import resource="classpath:spring/dao/spring-mybatis-dao.xml"/>-->
    <!--原生 JDBC 配置-->
    <import resource="classpath:spring/dao/spring-jdbc-dao.xml"/>
</beans>
